html {
    font-family: 'Comic Neue', cursive;
    background-color: #000;
}

body {
    padding: 10px;
    background-color: #000;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}
a{
    color: #FFF;
}

header {
    text-align: right;
    padding: 10px;
    margin: 10px;
}

nav {
    border: solid #fff; 
    margin: 10px;
    padding: 10px;
    background-color: #661663;
}
#github {
    float: left;
}

.intro {
    text-align: center;
    text-decoration: none;
    display: grid;
    grid-template-columns: 50% 50%;
}
.highlight{
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 55px;
    letter-spacing: 2px;
    overflow: hidden;
    background: linear-gradient(90deg, #FFF, rgb(199, 3, 248), #FFF);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }

  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: #000;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #FFF;
}


h2 {
    color: #000;
    width: 50%;
    text-align: center;
    text-decoration: none;
    margin: auto;
    color: #FFF;
}

h3{
    text-align: center;
    color: #FFF;
}

.profile-pic {
    border-radius: 70%;
    width: 55%;
    height: auto;
    float: center;
    box-shadow: 0 4px 6px 0 #FFF;
    transition: all ease-in-out .2s;
}
    
.profile-pic:hover {
    box-shadow: 0 8px 12px 0 #FFF;
}

.title {
    text-align: center;
    text-decoration: none 
}

.pic-1 {
    float: right;
    border-radius: 70%;
    width: 25%;
    height: auto;
    box-shadow: 0 4px 6px 0  #FFF;
}

.pic-1:hover {
    box-shadow: 0 8px 12px 0 #FFF;
}

.pic-2 {
    float: inherit;
    border: solid #ffff; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.code{
    margin-left: 35px;
    margin-right: 35px;
}

.grid-table{
    display: grid;
    grid-template-rows: auto auto; 
    grid-template-columns: auto auto auto; 
}

.grid-table h3{
    grid-column: 1 / -1;
}

.project-images{
    justify-self: center;
    padding: 4%;
    width: 50%;
    height: auto;
}

form {
    margin: 50px auto;
    width: 90%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid #000;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #000;
    background-color:#d3d3d3;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #000;
    background-color:#d3d3d3;;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    border: 2px solid #000;
    background-color:#d3d3d3;
    color: #FFF;
}

.form-item button {
    width: 100px;
}

@media (min-width:500px){
    .grid {
        grid-template-columns: 50% 50%;
    }
}

@media (min-width:900px){
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1200px){

}
