html {
    font-family: 'Comic Neue', cursive;
    background-color: #fff;
}

body {
    margin: 30px;
    padding: 30px;
}

header {
    text-align: right;
    padding: 10px;
    margin: 10px;
}

nav {
    border: solid#00008b; 
    margin: 10px;
    padding: 10px;
    background-color: #6fc3e4;
}
#github {
    position: left;
}

.intro {
    text-align: center;
    text-decoration: none;
    display: grid;
    grid-template-columns: 50% 50%;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #b0c4de;
    text-align: center;
    margin: auto;
    width: 50%;
    margin-inline-start: 50%;
}


h2 {
    line-height: 2.5rem;
    font-size: 3rem;
    text-align: center;
    color: #00f; 
    shape-image-threshold: initial;
    font-family: 'Petit Formal Script', cursive;
}

h3{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}

.pic-1 {
    float:right;
    border: solid #00008b;
    margin: 15px;
    height: 300px;
    width: auto;
}


#pic-2{
    float: inherit;
    border: solid#00008b;
    margin: 5px;
    position: relative;
}

.grid-table{
    display: grid;
    grid-template-rows: auto auto; 
    grid-template-columns: auto auto auto; 
}
.grid-table h3{
    grid-column: 1 / -1;

}

form {
    margin: 50px auto;
    width: 90%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid d#00008b;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid  #6fc3e4;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid d#00008b;
    background-color:#b0c4de;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    border: 2px solid #6fc3e4;
    background-color:  #6fc3e4;
    color: #FFF;
}

.form-item button {
    width: 100px;
}
